


{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Login and Registration Form in HTML & CSS | CodingLab </title>
    <style>
      body {
        background-image: url('https://img.freepik.com/free-vector/welcome-concept-landing-page_52683-22680.jpg?w=1800&t=st=1703262840~exp=1703263440~hmac=6b155c95bd0e567d0ff76f74c4c22639f1a0d2103ca5e06b753f9376574241d0');
        background-size: cover;
        background-position: center;
        height: 100vh; /* Set the height to 100% of the viewport height */
        margin: 0; /* Remove default margin */
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div>
        
    </div>
  </body>
</html>
{% endblock %}
