{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Login and Registration Form in HTML & CSS | CodingLab </title>
    <style>
      body {
        background-image: url('https://img.freepik.com/free-vector/organic-flat-customer-support-illustration_23-2148899174.jpg?w=2000&t=st=1703258436~exp=1703259036~hmac=58ea6c80f19b81fb3da527f3fa9a7bb363e0cf1512e9ba3d35447133107a3048');
        background-size: cover;
        background-position: center;
        height: 100vh; /* Set the height to 100% of the viewport height */
        margin: 0; /* Remove default margin */
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div>
      <!-- Your content goes here -->
    </div>
  </body>
</html>
{% endblock %}
